@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oranienbaum&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.content-grid {
  display: grid;
  grid-template-columns: [full-width-start] minmax(20px, 1fr) [breakout-start] minmax(0, 150px) [content-start] min(100% - 40px, 900px) [content-end] minmax(0, 150px) [breakout-end] minmax(20px, 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "toggle logo profile";
  color: #fff;
  align-items: center;
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding: 1em 20px;
  background-color: rgba(41, 33, 6, 0.7);
}
header .menu-toggle {
  cursor: pointer;
  grid-area: toggle;
  justify-self: left;
}
header .logo {
  grid-area: logo;
  justify-self: center;
}
header .profile {
  cursor: pointer;
  grid-area: profile;
  justify-self: right;
}
header nav {
  background: rgba(41, 33, 6, 0.95);
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  top: 10%;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s;
  transform: translateY(100%);
}
header nav.active {
  transform: translateY(0);
}
header nav a {
  display: block;
  border-bottom: 1px solid white;
  padding: 2rem;
  text-align: center;
}
header nav a:hover {
  background: #ccc;
}
header nav .close-menu {
  text-align: right;
  padding: 2rem;
  cursor: pointer;
}

#bottom-menu {
  background-color: rgba(124, 136, 35, 0.5);
  color: #3f2718;
  padding: 1em 2em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*height: 60px;*/
  align-content: center;
}
#bottom-menu ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 0.7rem;
}

html {
  background: #1f1e1a;
}

body {
  margin: 0;
  font-family: "Philosopher", sans-serif;
  font-style: normal;
  font-size: 16px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0.5em 0;
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
  color: #393d1d;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

i[class^=fa-solid] {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

/* Banner style */
#banner {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100dvh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/core/img/heroBg.jpg") no-repeat center center/cover;
}

.search-button {
  background: #A28860;
  color: #181A09;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 1em 2em;
  margin-top: 5em;
  width: fit-content;
  border-radius: 50px;
}

/*#banner::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*}*/
.hero-text h1 {
  color: #C0A479;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px 5px black;
  /*margin-top: 3em;*/
}

.carousel-container {
  grid-column: full-width !important;
  overflow-x: scroll; /* Горизонтальная прокрутка */
  scroll-snap-type: x mandatory; /* Привязка к элементам */
  scrollbar-width: none; /* Скрыть полосу прокрутки (для Firefox) */
  -ms-overflow-style: none; /* Скрыть полосу прокрутки (для IE и Edge) */
  padding-top: 2em;
  padding-bottom: 4em;
}

/* Скрыть полосу прокрутки для Chrome, Safari и других */
.carousel-container::-webkit-scrollbar {
  display: none;
}

/* Лента карусели */
.carousel {
  display: flex;
  gap: 20px;
}

/* Элементы карусели */
.carousel-item {
  padding: 2em;
  border-radius: 10px;
}

.advantages .carousel-item {
  background: #E0D3BF;
  -webkit-box-shadow: 0px 21px 20px 0px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 21px 20px 0px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 21px 20px 0px rgba(34, 60, 80, 0.3);
}

.no-inner-grid {
  display: block !important;
}

.steps {
  background: #424623;
  height: 80%;
}

.steps h2 {
  color: white;
}

.steps .carousel-item {
  background: rgba(27, 29, 9, 0.7);
  color: white;
  text-align: center;
  padding-bottom: 10em;
}

.steps .carousel-item h3 {
  color: white;
}

.steps .carousel-item .number {
  font-size: 3rem;
  border: 2px solid white;
  font-family: "Oranienbaum";
  text-align: center;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 40px;
  line-height: 80px;
}

.carousel-item p {
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: center;
}

.advantages .carousel-item p {
  color: black;
}

.search-bar button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #45a049;
}

/* Адаптивные стили для мобильных устройств */
/*@media (max-width: 768px) {

	header nav {
	}

	header nav ul {
		display: none;
		flex-direction: column;
		background-color: variables.$toggle-menu-color;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
	}

	nav ul li {

	}

	nav ul li a {
		text-align: center;
		display: block;
		padding-block: 1em;
		border-bottom: 1px solid red;
	}

	nav ul li:last-child a {
		border: none;
	}

	.menu-toggle {
		display: block;
	}

	nav ul.active {
		display: flex;
	}
}*/

/*# sourceMappingURL=style.css.map */
